.version._____2 /* version checker */
{
	color: #000018;
	background-color: #96DA77;
}

.html
{
	background-color: #06539D;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 865.9736842105262px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 539px;
}

#u174
{
	z-index: 43;
	width: 959px;
	height: 29px;
}

#pu668
{
	width: 0.01px;
	margin-top: 14px;
}

#u668
{
	z-index: 2;
	width: 960px;
	margin-right: -10000px;
	margin-top: 181px;
}

#menuu158
{
	z-index: 4;
	width: 750px;
	margin-right: -10000px;
	margin-top: 66px;
	left: 190px;
}

#u162
{
	width: 123px;
	padding-bottom: 17px;
}

#u162:hover
{
	margin: 0px;
}

#u162:active
{
	margin: 0px;
}

#u164-4
{
	width: 123px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u162:hover #u164-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u162:active #u164-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u193
{
	width: 123px;
	padding-bottom: 17px;
}

#u162.MuseMenuActive,#u193:hover
{
	margin: 0px;
}

#u193:active
{
	margin: 0px;
}

#u195-4
{
	width: 123px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u162.MuseMenuActive #u164-4,#u193:hover #u195-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u193:active #u195-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u204
{
	width: 123px;
	padding-bottom: 17px;
}

#u193.MuseMenuActive,#u204:hover
{
	margin: 0px;
}

#u204:active
{
	margin: 0px;
}

#u205-4
{
	width: 123px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u193.MuseMenuActive #u195-4,#u204:hover #u205-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u204:active #u205-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u217
{
	width: 123px;
	padding-bottom: 17px;
}

#u204.MuseMenuActive,#u217:hover
{
	margin: 0px;
}

#u217:active
{
	margin: 0px;
}

#u219-4
{
	width: 123px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u204.MuseMenuActive #u205-4,#u217:hover #u219-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u217:active #u219-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u230
{
	width: 124px;
	padding-bottom: 17px;
}

#u217.MuseMenuActive,#u230:hover
{
	margin: 0px;
}

#u230:active
{
	margin: 0px;
}

#u233-4
{
	width: 124px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u217.MuseMenuActive #u219-4,#u230:hover #u233-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u230:active #u233-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u279
{
	width: 124px;
	padding-bottom: 17px;
}

#u230.MuseMenuActive,#u279:hover
{
	margin: 0px;
}

#u279:active
{
	margin: 0px;
}

#u282-4
{
	width: 124px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u230.MuseMenuActive #u233-4,#u279:hover #u282-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u279:active #u282-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u279.MuseMenuActive #u282-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u153
{
	z-index: 41;
	width: 272px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 235px;
}

#u153_img
{
	padding-left: 14px;
	padding-bottom: 5px;
}

#menuu348
{
	z-index: 44;
	width: 750px;
	margin-right: -10000px;
	margin-top: 101px;
	left: 190px;
}

#u159,#u356
{
	width: 123px;
	min-height: 34px;
	margin-right: -10000px;
}

#u357
{
	width: 123px;
	padding-bottom: 17px;
}

#u279.MuseMenuActive,#u357:hover
{
	margin: 0px;
}

#u190,#u363
{
	width: 123px;
	min-height: 34px;
	margin-right: -10000px;
	left: 125px;
}

#u366
{
	width: 123px;
	padding-bottom: 17px;
}

#u357.MuseMenuActive,#u366:hover
{
	margin: 0px;
}

#u203,#u370
{
	width: 123px;
	min-height: 34px;
	margin-right: -10000px;
	left: 250px;
}

#u371
{
	width: 123px;
	padding-bottom: 17px;
}

#u366.MuseMenuActive,#u371:hover
{
	margin: 0px;
}

#u216,#u377
{
	width: 123px;
	min-height: 34px;
	margin-right: -10000px;
	left: 375px;
}

#u380
{
	width: 123px;
	padding-bottom: 17px;
}

#u371.MuseMenuActive,#u380:hover
{
	margin: 0px;
}

#u359-4,#u369-4,#u373-4,#u383-4
{
	width: 123px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u229,#u349
{
	width: 124px;
	min-height: 34px;
	margin-right: -10000px;
	left: 500px;
}

#u350
{
	width: 124px;
	padding-bottom: 17px;
}

#u380.MuseMenuActive,#u350:hover
{
	margin: 0px;
}

#u278,#u384
{
	width: 124px;
	min-height: 34px;
	margin-right: -10000px;
	left: 626px;
}

#u385
{
	width: 124px;
	padding-bottom: 17px;
}

#u350.MuseMenuActive,#u385:hover
{
	margin: 0px;
}

#u385.MuseMenuActive
{
	margin: 0px;
}

#u351-4,#u387-4
{
	width: 124px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u148
{
	z-index: 81;
	width: 200px;
	margin-right: -10000px;
	left: 10px;
}

#u428
{
	z-index: 83;
	margin-right: -10000px;
	margin-top: 143px;
	left: 786px;
}

#u430
{
	z-index: 85;
	margin-right: -10000px;
	margin-top: 143px;
	left: 838px;
}

#u432
{
	z-index: 87;
	margin-right: -10000px;
	margin-top: 143px;
	left: 812px;
}

#u434
{
	z-index: 89;
	margin-right: -10000px;
	margin-top: 143px;
	left: 864px;
}

#u436
{
	z-index: 91;
	margin-right: -10000px;
	margin-top: 143px;
	left: 917px;
}

#u438
{
	z-index: 93;
	margin-right: -10000px;
	margin-top: 143px;
	left: 891px;
}

#u678
{
	z-index: 95;
	width: 248px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 692px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

