.S001---Caption
{
	font-family: josefin-sans-n4, sans-serif;
}

.bodytext
{
	font-family: droid-sans-n4, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.quote-text
{
	font-family: open-sans-n3, sans-serif;
}

.caption,.heading2,.Quote,.heading1,.Navigation,.footer
{
	font-family: montserrat-n4, sans-serif;
}

#u893-4
{
	font-family: montserrat-n4, sans-serif;
}

#u895-9
{
	font-family: montserrat-n4, sans-serif;
}

#u899-4
{
	font-family: montserrat-n4, sans-serif;
}

#u897-10
{
	font-family: montserrat-n4, sans-serif;
}

#u891-4
{
	font-family: montserrat-n4, sans-serif;
}

#u889-9
{
	font-family: montserrat-n4, sans-serif;
}

#u904-4
{
	font-family: montserrat-n4, sans-serif;
}

#u902-4
{
	font-family: montserrat-n4, sans-serif;
}

#u907-4
{
	font-family: montserrat-n4, sans-serif;
}

#u908-4
{
	font-family: montserrat-n4, sans-serif;
}

#u911-4
{
	font-family: montserrat-n4, sans-serif;
}

#u912-4
{
	font-family: montserrat-n4, sans-serif;
}

#u881-4
{
	font-family: quicksand-n7, sans-serif;
}

#u883-4
{
	font-family: quicksand-n7, sans-serif;
}

#u1318-4,#u1312-4,#u1314-4,#u1316-4,#u1670-4,#u1430,#u1430-5,#u1430-8,#u1439,#u1439-5,#u1439-8,#u1462,#u1462-5,#u1462-8,#u1411,#u1411-5,#u1411-8,#u1444,#u1444-5,#u1444-8,#u1422,#u1422-5,#u1422-8,#u1452,#u1452-5,#u1452-8,#u1405,#u1405-5,#u1405-8,#u1435,#u1435-5,#u1435-8,#u1416,#u1416-5,#u1416-8,#u1424,#u1424-5,#u1424-8,#u1456,#u1456-5,#u1456-8,#u1348,#u1348-5,#u1348-8,#u1354,#u1354-5,#u1354-8,#u1337,#u1337-5,#u1337-8,#u1342,#u1342-5,#u1342-8,#u1391,#u1391-5,#u1391-8,#u1377,#u1377-5,#u1377-8,#u1372,#u1372-5,#u1372-8,#u1384,#u1384-5,#u1384-8,#u1389,#u1389-5,#u1389-8,#u1499,#u1499-5,#u1499-8,#u1511,#u1511-4,#u1511-7,#u1494,#u1494-5,#u1494-8,#u1492,#u1492-5,#u1492-8,#u1504,#u1504-5,#u1504-8
{
	font-family: asap-n4, sans-serif;
}

#u1429-4,#u1430-13,#u1431-5,#u1442-4,#u1439-13,#u1441-5,#u1459-4,#u1462-13,#u1461-5,#u1409-4,#u1411-13,#u1412-5,#u1445-4,#u1444-13,#u1446-5,#u1420-4,#u1422-13,#u1419-5,#u1449-4,#u1452-13,#u1450-5,#u1404-4,#u1405-13,#u1407-5,#u1436-4,#u1435-13,#u1434-5,#u1415-4,#u1416-13,#u1417-5,#u1426-4,#u1424-13,#u1425-5,#u1455-4,#u1456-13,#u1457-5,#u1347-4,#u1348-13,#u1349-5,#u1355-4,#u1354-13,#u1352-5,#u1340-4,#u1337-13,#u1339-5,#u1344-4,#u1342-13,#u1343-5,#u1392-4,#u1391-13,#u1394-5,#u1379-4,#u1377-13,#u1378-5,#u1374-4,#u1372-13,#u1373-5,#u1381-4,#u1384-13,#u1383-5,#u1387-4,#u1389-13,#u1388-5,#u1500-4,#u1499-13,#u1501-5,#u1509-4,#u1511-11,#u1512-5,#u1496-4,#u1494-13,#u1495-5,#u1491-4,#u1492-13,#u1489-5,#u1505-4,#u1504-13,#u1507-5
{
	font-family: asap-n7, sans-serif;
}

